<html>
  <body>
    <form action="/insert" method="POST">
      제목: <input type="text" id="title" name="title">
      내용: <input type="text" id="description" name="description">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>